<div class="container">
    <div class="callout callout--primary callout-signup">
        <div class="grid grid--cols-2">
            <div class="callout__content">
                <h2 class="callout__heading">Ready to Get Started?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure in aliquid quaerat atque aperiam
                    minima
                    dolor sit nisi? Pariatur, accusamus!</p>
            </div>
            <a class="btn btn--secondary " href="#">GET STARTED</a>
        </div>
    </div>
</div>